.add-container {
  padding: 40px;
}

.add-container h2 {
  font-size: 26px;
  color: #6d1fa3;
  margin-bottom: 20px;
}

.add-form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 360px;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.08);
}

.add-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  outline: none;
}

.add-form button {
  width: 100%;
  padding: 12px;
  background: #6d1fa3;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .add-container {
    padding: 20px;
  }

  .add-container h2 {
    font-size: 22px;
    text-align: center;
  }

  .add-form {
    width: 100%;
    padding: 22px;
    border-radius: 16px;
  }

  .add-form input {
    padding: 11px;
    font-size: 14px;
  }

  .add-form button {
    font-size: 15px;
    padding: 11px;
  }
}
