.client-follow-container{
padding:30px;
font-family:Arial;
}

.title{
font-size:28px;
font-weight:bold;
}

.subtitle{
color:gray;
margin-top:-5px;
}

.top-bar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.top-controls{
display:flex;
gap:15px;
}

.add-client-btn{
background:#3e2ecc;
color:white;
}


.search-box{
width:300px;
padding:8px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;
}

.status-section{
display:flex;
gap:10px;
margin-bottom:20px;
justify-content: space-between;
}

.status-btn{
padding:6px 14px;
border:none;
border-radius:20px;
cursor:pointer;
color:white;
font-size:13px;
}

.status-btn.active{
transform:scale(1.05);
}

/* STATUS COLORS */

.all{
background:#193436;
}

.dnp{
background:#ed1f08;
}

.follow-up{
background:#03a0bc;
}

.not-interested{
background:#9b59b6;
}

.closed{
background:#2cb908;
}

.demo-booked{
background:#f99d09;
}

/* TABLE */

.clients-table{
width:100%;
border-collapse:collapse;
background:white;
margin-top:15px;
font-size:14px;
}

.clients-table th{
background:#f5f5f5;
padding:14px 18px;
border-bottom:2px solid #ddd;
text-align:center;
font-weight:600;
}

.clients-table td{
padding:14px 18px;
border-bottom:1px solid #eee;
text-align:center;
line-height:1.6;
}

/* Row hover effect */
.clients-table tbody tr:hover{
background:#fafafa;
}

/* Proper column spacing */
.clients-table th,
.clients-table td{
min-width:100px;
}

/* Actions column little wider */
.clients-table td:last-child,
.clients-table th:last-child{
min-width:130px;
}


.status-badge{
padding:4px 10px;
border-radius:12px;
color:white;
font-size:12px;
}

/* BADGE COLORS */

.status-badge.dnp{
background:#ed1f08;
}

.status-badge.follow-up{
background:#03a0bc;
}

.status-badge.not-interested{
background:#9b59b6;
}

.status-badge.closed{
background:#2cb908;
}

.status-badge.demo-booked{
background:#f99d09;
}

/* BUTTONS */

.edit-btn{
background:#d8bc07;
color:white;
border:none;
padding:5px 10px;
margin-right:5px;
border-radius:5px;
cursor:pointer;
}

.clients-table .delete-btn{
  background-color:#cc1400;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:5px;
  cursor:pointer;
}

